:root {
    --purple: #715AFF;
    --darkblue: #13101D;
    --brokenwhite: #FAFAFA;
    --metalicblue: #1848E8;
}

body {
    color: var(--darkblue);
    background-color: var(--brokenwhite);
}

.title {
    color: var(--purple);
    font-weight: bold;
    font-size: xx-large;
    font-family: "Akira";
    text-align: center;
}

.text {
    color: var(--metalicblue);
    font-size:large;
    font-family: "Gilroy";
    text-align: center;
}

.button{
    font-size: large;
    border: solid 2px var(--purple);
    background-color: var(--darkblue);
    color: var(--brokenwhite);
    border-radius: 0.5em;
    padding-inline: 5px 8px;
}

