:root {
    --purple: #715AFF;
    --darkblue: #13101D;
    --brokenwhite: #FAFAFA;
    --metalicblue: #1848E8;
}

body {
    color: var(--darkblue);
    background-color: var(--brokenwhite);
    text-align: center;
}

.title {
    color: var(--purple);
    font-weight: bold;
    padding-top: 5em;
    font-family: "Akira";
}

.text {
    color: var(--metalicblue);
    font-size:medium;
    font-family: "Gilroy";
}

.button{
    font-size: x-small;
    border: solid 2px var(--purple);
    background-color: var(--darkblue);
    color: var(--brokenwhite);
    border-radius: 0.5em;
    padding-inline: 5px 8px;
}

.comment {
    font-family: "Gilroy";
    font-size: x-small;
    padding-top: 32em;
}

